body{
   background-color: #f7f2ec;
}

.txt{
  text-align: center;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* vertical-align: middle; */
}

.img-container{
  height: 100vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.img{
  width: 75%;
  height: 75%;
  margin: 0 auto;
  background: url('sideImg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


h1{
  font-family: Lobster, sans-serif;
  vertical-align: middle;
}
p{
  font-family: Federo, sans-serif;
  text-align: justify;
  vertical-align: middle;
}
@media (max-width:800px) {
  .col-6{
    max-width: 100% !important;
  }
  .img-container{
    width: 100% !important;
    padding: 0px;
  }
  .img,
  .txt{
    margin: 0 auto;
  }
  .img{
    padding: 0px;
  }
  .txt{
    padding: 50px;
    padding-top: 0px;
  }
  .row{
    display: block !important;
  }
}

.icons i {
  font-size: 30px;
  margin: 10px;
}
body{
  background: url('UnderconstructionBG.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#f2f2f2;
}
.txt{
  position: absolute;
  transform: translate(0%, 111%);
}
.container{
  text-align: center;
  position: relative;
}
a{
  font-size: 20px;
  color:#f2f2f2;
}
a:hover{
  color: #f44283;
}
h2, h3, p {
  font-family: 'Roboto', sans-serif;
}
h3{
  font-size: 25px;
}
